<h1><span data-i18n="skills.my_skills">Summary</span></h1>

<div>
    <ul>
        <li> Expertise in performing Offensive Penetration testing and conducting Cyber Security training </li>
        <li> Skilled in SAP Penetration testing,  Web App Penetration Testing and Web Service Penetration Testing </li>
        <li>Performed Internal Penetration Testing on Windows AD environment and Red teaming activites</li>
        <li>Actively participate on CTF, Hackthebox, Tryhackme  </li>
        <li> Passed B.Tech Computer Science with Distinction </li>
          <li> OSCP Certified </li>
        
    </ul>
</div>

<h1><span data-i18n="skills.my_skills">Achievements</span></h1>

<div>
    <ul>
        <li> Received Bounty and Certificate of appreciation from Paytm   </li>
        <li> Received Thanks from Unilever and Portmap.io for Responsible Vulnerablity Disclosure</li>
        <li> Managing Bug bounty platform for a fortune 500 Company </li>
        <li> Winner of Smart India Hackathon 2018</li>
        
    </ul>
</div>

